//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
// $path-image   :   '../img';
// $path-fonts     :  '../fonts';

/* Colors -------------------- */
$omg-primary : #004685;
$omd-primary : #EE3425;
$phd-primary : #3D1A52;
$fuse-primary : #BE0620;
